:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white-background: whitesmoke;
  --dim-background: rgb(233, 233, 233);
  --translucent-border: rgba(0, 0, 0, 0.11)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body, #root{
  width: 100%;
  height: 100svh;
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.068);
  cursor: pointer;
}